

.about__natura{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    margin: 40px;
    li{
        list-style: inside circle;
    }

    p, li{
        font-size: 1.5rem;
    }

    .container{
        img{
            width: 100%;
            height: 400px;
        }
    }
}


