
.anuncio{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
 
  .container-fluid{
    text-align: center; 
// box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    .row{
    // background-color: $color-light;

    h2{
      font-size: 2rem;
    }
    p{
      font-size: 1.5rem;
    }
    }
  }
}

.banner__presentation{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 30px;
  margin: 5px 20px;
  // background-color: $color-natura;
  .banner__image{
      max-height: 400px;
      margin: 10px auto;
      img{
          width: 100%;
          max-height: 400px;
          }
  }
  .banner__info{
      margin: 0 auto;
      // background-color: $color-white;
   
  }
  h2{
    font-size: 2rem;
    
}
p{
    font-size: 1.5rem;
}
}